<div id="select-seppa">
  <div class="page-header">
    <h2>Seppa Configuration</h2>  
  </div>
  <form class="form-horizontal">
    <div class="control-group">
      <label class="control-label" for="inputThreshold">Threshold</label>
      <div class="controls" style="margin-top:10px;">
	<jq-slider ng-model="threshold"></jq-slider>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
	<label class="control-label"></label>
      <button type="submit" class="btn btn-primary">Begin!</button>
      </div>
    </div>
  </form>
</div>
