<form class="form-horizontal">

  <div class="control-group">
    <label class="control-label">Radius</label>
    <div class="controls">
      <jq-slider ng-model="cfg.radius" 
		 min-val="fieldsSetting.radius.min" 
		 max-val="fieldsSetting.radius.max" 
		 step="fieldsSetting.radius.step"
		 default-val="cfg.radius">
      </jq-slider>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Radius Step</label>
    <div class="controls">
      <jq-slider ng-model="cfg.radiusStep" 
		 min-val="fieldsSetting.radiusStep.min" 
		 max-val="fieldsSetting.radiusStep.max" 
		 step="fieldsSetting.radiusStep.step"
		 default-val="cfg.radiusStep">
      </jq-slider>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Height</label>
    <div class="controls">
      <jq-slider ng-model="cfg.height" 
		 min-val="fieldsSetting.height.min" 
		 max-val="fieldsSetting.height.max" 
		 step="fieldsSetting.height.step"
		 default-val="cfg.height">
      </jq-slider>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label">Height Step</label>
    <div class="controls">
      <jq-slider ng-model="cfg.heightStep" 
		 min-val="fieldsSetting.heightStep.min" 
		 max-val="fieldsSetting.heightStep.max" 
		 step="fieldsSetting.heightStep.step"
		 default-val="cfg.heightStep">
      </jq-slider>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label"></label>
    <div class="controls span3 offset1">
      <button class="btn" ng-click="init()">Reset</button>
      <button class="btn btn-primary">Done</button>
    </div>
  </div>

</form>
