<div id="epitope-selection" class="tab-pane" ng-controller="EpitopeSelectionCtrl">
  <ul class="nav nav-pills">
    <li ng-repeat="opt in options"
	ng-class="{active : $state.current.name == 'pairwise-comparison.select-epitope.' + opt.name}"
	data-original-title="{{opt.tooltipMsg}}" 
	data-placement="bottom"
	ui-jq="tooltip">
      <a href="{{ '#/pairwise-comparison/select-epitope/:name' | format : opt}}"> {{opt.name | inflector: humanize}} </a>
    </li>    
  </ul>
  
  <div ui-view></div> 
</div>
